<header class="tavuri">
    <div class="tavurierti">
        <div class="tavurileft">
            <h1 style="cursor: pointer;" routerLink="/" class="tavuriorder">Step Ordering</h1>
        </div>
        <div class="tavuriright">
            <button routerLink="/" class="tavurihome">Home</button>
            <button routerLink="/cart" class="tavuricart">Cart</button>
            <i routerLink="/menu" id="bars" class="fa-solid fa-bars burger"></i>
            <button routerLink="/login" class="tavurihome">Login</button>
            <button routerLink="/register" class="tavuricart">Register</button>
            <button routerLink="/profile" class="tavurihome">Profile</button>
        </div>
    </div>
    <div class="tavuriori">
        <h1>Fast And Efficient, Online Ordering You Must Try.</h1>
    </div>
</header>