form {
    width: 300px;
    box-shadow: 0 0 15px 2px black;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
    margin: 50px auto;
}


input, select, button {
    width: 100%;
    height: 35px;
}
@media (max-width: 360px) {
    form{
        width: auto;
    }
}