.catbut{
    width: auto;
    height: 70px;
    padding-inline: 10px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    border: 1px solid transparent;
    transition: 0.7s;
}
.catbut:hover{
    border: 2px solid red;
    background-color: red;
    color: white;
    transition: 0.7s;
}
.categories{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    border-radius: 10px;
    align-items: center;
    width: 250px;
}
.surati{
    border-radius: 10px 10px 0 0;
    height: 185px;
    width: 250px;
    background-color: silver;
}
.title{
    font-size: 20px;
}
.spiciness{
    color: rgba(0, 0, 0, 0.582);
}
.label{
    color: rgba(0, 0, 0, 0.582);
}
.check{
    color: rgba(0, 0, 0, 0.582);
    border-radius: 50%;
}
.end{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.add{
    height: 40px;
    width: 100px;
    background-color: white;
    border: 2px solid black;
    transition: 0.4s;
}
.productList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 70%;
}
.add:hover{
    border: 2px solid red;
    background-color: red;
    color: white;
    transition: 0.7s;
    cursor: pointer;
}
.filter {
    width: 200px;
    height: 350px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
}

.filter .spc {
    display: flex;
    flex-direction: column;
}

.filter button {
    height: 40px;
    border: none;
    background-color: red;
    cursor: pointer;
    color:  white;
    transition: 0.7s;
}
.filter button:hover{
    background-color: yellow;
    transition: 0.7s;
    color:  black;
}
main{
    display: flex;
    justify-content: space-around;
}